body {background-color: #FEFBE9;}
body {color: #000000;}
a {color: #2d7337;}
a:hover {color: #1a4321;}
h1, h2 {color: #2b3467;}
nav {background-color: #183a1d84; 
    display: inline;
    padding: 10px;
    margin-bottom: 10px;}
nav a {color: #ffffffdc;}
nav a:hover {background-color: #ffffffdc;}
.quote {float: right;}
.firstrow, .secondrow {display: flex; margin: 10px; padding: 20px; border-radius: 1em;}
.firstrow {background-color: #cce5ff;}
.secondrow {background-color: #98caff;}
.adress, .email, .form, .map {padding: 20px; display: flex;}